<div >
  <div class="row">
    <div class="navbar fixed-top  " style="height: 100px;">
      <div class="col-lg-12 col-md-12  ">
        <h1 class="text-center" style="margin:20px">
          A V I O N
        </h1>
      </div>
      <div class="col-lg-12 col-md-12  ">
        <h5 class="text-center" >
          Flight Ticket Reservation Service
        </h5>
      </div>
      
    </div>

  </div>
  <!-- <div id="mySidenav" class="sidenav">
    <a routerLink="/home" id="home" class="btn-change">Home</a>
    <a routerLink="/book" id="book" class="btn-change ">Book</a>
    <a routerLink="/tickets" id="tickets" class="btn-change">Tickets</a>
    <a routerLink="/cancel" id="cancel" class="btn-change ">Cancel</a>
  </div> -->
  <div class="bg">
    <div id="wrap">
    <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <nav class="navbar fixed-bottom navbar-light bg-info" style="height: 50px;">
    <footer class="text-light">&copy; Copyright 2020. All rights are reserved.</footer>
  </nav> -->
</div>